head
style
body {
  background-color: lightblue;
}

h1 { 
  color: black;
  text-align: center;
  font-size: 30px
}

p {
  font-family: verdana;
  font-size: 10px;
}
style
head
body 

<h1>IA Generativa</h1>
<h2>Os extremos e as possibilidades da inteligência.<h2> 




<p> Quando a OpenAI revelou o ChatGPT em fins de 2022, as pessoas correram para testá-lo. Elas colocaram perguntas difíceis, pediram poemas e tiveram resultados incríveis. E antes do ChatGPT, a internet fora inundada por arte gerada por IA.
Esse conteúdo gerado é parte de uma das maiores mudanças de patamar na história da IA: a introdução de modelos pré-treinados com notável adaptabilidade a tarefas.<p>


</body>
</html>
